.shadow {
  box-shadow: 0 0.5rem 1rem grey (54, 34, 34, 0.15);
}
.navbar-nav {
  display: flex;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: auto;
  background: whitesmoke;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.product {
  position: absolute;
  top: 83px;
  width: 153px;
  transform: translateX(-38%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  color: var(--text-color);
  text-decoration: none;
}

.checkout {
  position: absolute;
  top: 256px;
  width: 211px;
  transform: translateX(-119%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  color: var(--text-color);
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 80px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
}

.nav-item {
  /* width: calc(var(--nav-size) * 0.8); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.menu {
  width: 100%;
}
.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}
.menu-item .icon-button {
  margin-right: 0.5rem;
}
.menu-item .icon-button:hover {
  filter: none;
}

menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.navbar.fixed-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.stars {
  display: flex;
}
.logo.ml-3 {
  width: 10%;
}
.dropdown-menu {
  width: 60%;
  background-color: azure;
  padding: 8%;
  margin-left: 23%;
}
.dropdown {
  height: 1px;
}
img {
  width: 100%;
}
.flex-justify-content {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
@media (max-width: 760px) {
  .row.ml-5.mr-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 760px) {
  .card-img,
  .card-img-bottom,
  .card-img-top {
    flex-shrink: 0;
    width: 100%;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .row.ml-5.mr-5 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: baseline;
  }
  .card.p-0.m-2.mt-4 {
    margin: auto;
    margin-top: 83%;
  }
  .col-lg-3 {
    flex: 0 0 21%;
    max-width: 21%;
  }

  .flex-justify-content {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) and (max-width: 1023px) {
  .flex-justify-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}

@media (min-width: 1024px) {
  .flex-justify-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .row.row.ml-5.mr-5 {
    margin-top: -16%;
  }
  .nav-item {
    display: flex;
  }
  .counter {
    width: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 52px;
    left: 44%;
  }
}
@media (min-width: 1176px) {
  .flex-justify-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media (min-width: 1250px) {
  .flex-justify-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media (max-width: 1024px) {
  .counter {
    width: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 52px;
    left: 41%;
  }
  .icon-button {
    position: relative;
  }
}
